{% import 'BWSkeletonBundle:Macro:debug.html.twig' as bw_debug %}

{{ bw_debug.template(_self.templateName) }}

<div class="categories">
    {% for category in categories %}
        <div class="category">
            <h2 class="h4">
                <a href="{{ app.request.uriForPath(category[0].route.path) }}">
                    {{ category[0].heading }}
                    <span class="badge">
                        {{ category.countPosts }}
                    </span>
                </a>
            </h2>
            <div class="short-description">
                {{ category[0].shortDescription|raw }}
            </div>
        </div>
    {% endfor %}
</div>

{{ bw_debug.template(_self.templateName, null, '/') }}
