{{ form_start(form) }}
    {{ form_errors(form) }}

    <ul class="list-inline">
        {% if form.create is defined %}
            <li>{{ form_row(form.create) }}</li>
        {% endif %}
        {% if form.createAndClose is defined %}
            <li>{{ form_row(form.createAndClose) }}</li>
        {% endif %}
        {% if form.createAndShow is defined %}
            <li>{{ form_row(form.createAndShow) }}</li>
        {% endif %}
        {% if form.update is defined %}
            <li>{{ form_row(form.update) }}</li>
        {% endif %}
        {% if form.updateAndClose is defined %}
            <li>{{ form_row(form.updateAndClose) }}</li>
        {% endif %}
        {% if form.updateAndShow is defined %}
            <li>{{ form_row(form.updateAndShow) }}</li>
        {% endif %}
        {% if form.delete is defined %}
            <li>{{ form_row(form.delete) }}</li>
        {% endif %}
        <li>
            <a class="btn btn-default fas fa-ban" href="{{ path('widget') }}" title="Отменить несохраненные изменения"> Закрыть</a>
        </li>
    </ul>

    <div>
        Тип виджета: <abbr title="{{ entity.type.alias }}">{{ entity.type.name }}</abbr>
    </div>

    <div class="form-inline">
        <div class="form-group">{{ form_row(form.published) }}</div>&nbsp;
    </div>

    <div class="form-group">{{ form_row(form.position) }}</div>
    <div class="form-group">{{ form_row(form.heading) }}</div>
    <div class="form-group">{{ form_row(form.shortDescription) }}</div>
    <div class="form-group">{{ form_row(form.order) }}</div>
    <div class="form-group">{{ form_row(form.class) }}</div>

    <div class="form-inline">
        <div class="form-group">{{ form_row(form.visibility) }}</div>&nbsp;
    </div>

    <div class="form-group">{{ form_row(form.widgetRoutes) }}</div>

    {% if entity.widgetRoutes.count %}
        <div class="form-group">
            <div><b>Список роутов</b></div>
            <table class="table table-striped">
                <tr>
                    <th width="20px">ID</th>
                    <th>Роут</th>
                    <th width="50px">Удалить</th>
                </tr>
                {% for widgetRoute in entity.widgetRoutes %}
                    <tr>
                        <td>{{ widgetRoute.route.id }}</td>
                        <td>
                            <a class="fa fa-share-square-o" href="{{ app.request.getUriForPath(widgetRoute.route.path) }}" title="Перейти на страницу с виджетом"></a>
                            <code>{{ widgetRoute.route.path }}</code>
                        </td>
                        <td>
                            <button type="submit" name="deleteWidgetRoute" value="{{ widgetRoute.id }}" class="close" title="Удалить запись"  onclick="return confirm('Удалить запись?')">
                                <span aria-hidden="true">&times;</span><span class="sr-only">Удалить запись</span>
                            </button>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endif %}

    {% if entity.type.formTypeTemplate %}
        {% include entity.type.formTypeTemplate with {'form': form.feedbackFormWidget} %}
    {% endif %}

{{ form_end(form) }}
