{% extends 'BWSkeletonBundle:Backend:layout.html.twig' %}

{% block title %}Список виджетов{% endblock %}

{% block content_wrap -%}
    <h1><i class="fa fa-th"></i> Список виджетов</h1>

    <ul class="list-inline controls">
        <li>
            <a class="btn btn-success fas fa-plus" href="{{ path('widget_new') }}">
                Создать
            </a>
        </li>
    </ul>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Название</th>
                <th>Краткое описание</th>
                <th>Позиция</th>
                <th>Тип</th>
                <th>Опубликовано</th>
                <th>Порядок</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.id }}</td>
                <td>
                    <a href="{{ path('widget_edit', { 'id': entity.id }) }}" title="Редактировать запись">
                        {{ entity.heading ? entity.heading : '< no heading >' }}
                    </a>
                </td>
                <td>{{ entity.shortDescription }}</td>
                <td>
                    {% if entity.position  %}
                        <abbr title="{{ entity.position.alias }}">{{ entity.position.name }}</abbr>
                    {% else %}
                        < Без позиции >
                    {% endif %}
                </td>
                <td><abbr title="{{ entity.type.alias }}">{{ entity.type.name }}</abbr></td>
                <td><span class="{{ entity.published ? 'fa fa-check-square-o' : 'fa fa-square-o' }}"></span></td>
                <td>{{ entity.order }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
