{% extends 'BWSkeletonBundle:Backend:layout.html.twig' %}

{% block title %}Список виджетов{% endblock %}

{% block quick_search %}
    {% include 'AppBundle:QuickSearch:form.html.twig' %}
{% endblock %}

{% block content_wrap -%}
    <h1><i class="fa fa-th"></i> Список виджетов</h1>

    {{ form_start(form) }}
        <ul class="list-inline controls">
            <li {% if not form.type.vars.choices %}title="Нельзя создать виджет без типа"{% endif %}>
                <button type="submit" class="btn btn-success fas fa-plus" {% if not form.type.vars.choices %}disabled="disabled"{% endif %}> Создать</button>
            </li>
            <li>
                {{ form_widget(form.type) }}
            </li>
        </ul>
    {{ form_end(form) }}

    {% if pagination.count %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="{{ pagination.isSorted('w.id') ? 'active' }}">{{ knp_pagination_sortable(pagination, 'ID', 'w.id') }}</th>
                    <th class="{{ pagination.isSorted('w.heading') ? 'active' }}">{{ knp_pagination_sortable(pagination, 'Заголовок', 'w.heading') }}</th>
                    <th>Краткое описание</th>
                    <th>Позиция</th>
                    <th>Тип</th>
                    <th>Опубликовано</th>
                    <th class="{{ pagination.isSorted('w.order') ? 'active' }}">{{ knp_pagination_sortable(pagination, 'Порядок', 'w.order') }}</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in pagination %}
                <tr>
                    <td class="{{ pagination.isSorted('w.id') ? 'active' }}">{{ entity.id }}</td>
                    <td class="{{ pagination.isSorted('w.heading') ? 'active' }}">
                        <a href="{{ path('widget_edit', { 'id': entity.id }) }}" title="Редактировать запись">
                            {{ entity.heading ? entity.heading : '< Без заголовка >' }}
                        </a>
                    </td>
                    <td>{{ entity.shortDescription }}</td>
                    <td>
                        {% if entity.position  %}
                            <abbr title="{{ entity.position.alias }}">{{ entity.position.name }}</abbr>
                        {% else %}
                            < Без позиции >
                        {% endif %}
                    </td>
                    <td><abbr title="{{ entity.type.alias }}">{{ entity.type.name }}</abbr></td>
                    <td><span class="{{ entity.published ? 'fa fa-check-square-o' : 'fa fa-square-o' }}"></span></td>
                    <td class="{{ pagination.isSorted('w.order') ? 'active' }}">{{ entity.order }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="well well-sm text-center">Записи отсутствуют</div>
    {% endif %}

    <div class="count">
        Всего: <strong>{{ pagination.getTotalItemCount }}</strong> записей
    </div>

    <div class="navigation text-center">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
