{% extends "BWSkeletonBundle:Frontend:base.html.twig" %}

{% block lang -%}ru{%- endblock %}

{% block charset -%}utf-8{%- endblock %}

{% block title -%}
    {{ title_prefix ? title_prefix ~ ' ' : '' }}
    {%- block title_wrap -%}
        % Layout Template %
    {%- endblock -%}
    {{ title_suffix ? ' ' ~ title_suffix : '' }}
{%- endblock %}

{% block description -%}{%- endblock %}

{% block css -%}
    {{ bw_debug.template(_self.templateName, 'css') }}
    <!-- % CSS % -->
    {# less stylesheet
    {% stylesheets filter='less' output='cache/bootstrap.css' %}
        <link href="{{ asset('libs/bootstrap-3.1.1/less/bootstrap.less') }}" type="text/css" rel="stylesheet/less">
    {% endstylesheets %}
    #}
    <link href="{{ asset('bower_components/bootstrap/dist/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ asset('bower_components/bootstrap/dist/css/bootstrap-theme.min.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ asset('bower_components/fontawesome/css/font-awesome.min.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ asset('css/style.css') }}" type="text/css" rel="stylesheet">
    {{ bw_debug.template(_self.templateName, 'css', '/') }}
{%- endblock %}

{% block js -%}
    {{ bw_debug.template(_self.templateName, 'js') }}
    <!-- % JS % -->
    {# less compiler
    <script src="{{ asset('js/less-1.7.0.min.js') }}" type="text/javascript"></script>
    #}
    <script src="{{ asset('bower_components/jquery/dist/jquery.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bower_components/bootstrap/dist/js/bootstrap.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/script.js') }}" type="text/javascript"></script>
    {{ bw_debug.template(_self.templateName, 'js', '/') }}
{%- endblock %}

{% block header -%}
    {{ bw_debug.template(_self.templateName, 'header') }}
    <header id="header">
        {% block header_wrap -%}
            {{ bw_debug.template(_self.templateName, 'header_wrap') }}
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <nav class="navbar navbar-default" role="navigation">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <a class="navbar-brand" href="{{ path('index') }}">
                                    <i class="fa fa-home"></i> Главная
                                </a>
                            </div>

                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav">
                                </ul>
                                <ul class="nav navbar-nav navbar-right">
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <li>
                                            <a href="{{ path('admin') }}">
                                                <i class="fa fa-apple"></i> Панель управления
                                            </a>
                                        </li>
                                    {% endif %}
                                    {% if app.user %}
                                        <li>
                                            <a href="{{ path('user_sign_out') }}">
                                                <i class="fa fa-sign-out"></i> Выйти
                                            </a>
                                        </li>
                                    {% else %}
                                        <li>
                                            <a href="{{ path('user_sign_in') }}">
                                                <i class="fa fa-sign-in"></i> Войти
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ path('user_sign_up') }}">
                                                <i class="fa fa-key"></i> Зарегистрироваться
                                            </a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div><!-- /.navbar-collapse -->
                        </nav>
                    </div>
                </div>
            </div>
            {{ bw_debug.template(_self.templateName, 'header_wrap', '/') }}
        {%- endblock %}
    </header>
    {{ bw_debug.template(_self.templateName, 'header', '/') }}
{%- endblock %}

{% block pre_content -%}
    {{ bw_debug.template(_self.templateName, 'pre_content') }}
    <div id="pre_content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    {% block pre_content_wrap -%}
                        {{ bw_debug.template(_self.templateName, 'pre_content_wrap') }}
                        {{ bw_position.render('pre_content')|raw }}
                        {{ bw_debug.template(_self.templateName, 'pre_content_wrap', '/') }}
                    {%- endblock %}
                </div>
            </div>
        </div>
    </div>
    {{ bw_debug.template(_self.templateName, 'pre_content', '/') }}
{%- endblock %}

{% block flash_message -%}
    {{ bw_debug.template(_self.templateName, 'flash_message') }}
    {% if app.session.flashbag.peekAll %}
        <div id="flash_message">
            {% block flash_message_wrap -%}
                {{ bw_debug.template(_self.templateName, 'flash_message_wrap') }}
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            {% for status, flashMessages in app.session.flashbag.all %}
                                {% for flashMessage in flashMessages %}
                                    <div class="alert alert-dismissable alert-{{ status }} fade in">
                                        {{ flashMessage|raw }}
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                    </div>
                                {% endfor %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {{ bw_debug.template(_self.templateName, 'flash_message_wrap', '/') }}
            {%- endblock %}
        </div>
    {% endif %}
    {{ bw_debug.template(_self.templateName, 'flash_message', '/') }}
{%- endblock %}

{% block breadcrumbs -%}
    {{ bw_debug.template(_self.templateName, 'breadcrumbs') }}
        <div id="breadcrumbs">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        {% block breadcrumbs_wrap -%}
                            {{ bw_debug.template(_self.templateName, 'breadcrumbs_wrap') }}
                            {{ bw_render_breadcrumb()|raw }}
                            {{ bw_debug.template(_self.templateName, 'breadcrumbs_wrap', '/') }}
                        {%- endblock %}
                    </div>
                </div>
            </div>
        </div>
    {{ bw_debug.template(_self.templateName, 'breadcrumbs', '/') }}
{%- endblock %}

{% block content -%}
    {{ bw_debug.template(_self.templateName, 'content') }}
    <section id="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    {% block content_wrap -%}
                        {{ bw_debug.template(_self.templateName, 'content_wrap') }}

                        {{ bw_debug.template(_self.templateName, 'content_wrap', '/') }}
                    {%- endblock %}
                </div>
            </div>
        </div>
    </section>
    {{ bw_debug.template(_self.templateName, 'content', '/') }}
{%- endblock %}

{% block post_content -%}
    {{ bw_debug.template(_self.templateName, 'post_content') }}
    <div id="post_content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    {% block post_content_wrap -%}
                        {{ bw_debug.template(_self.templateName, 'post_content_wrap') }}
                        {{ bw_position.render('post_content')|raw }}
                        {{ bw_debug.template(_self.templateName, 'post_content_wrap', '/') }}
                    {%- endblock %}
                </div>
            </div>
        </div>
    </div>
    {{ bw_debug.template(_self.templateName, 'post_content', '/') }}
{%- endblock %}

{% block footer -%}
    {{ bw_debug.template(_self.templateName, 'footer') }}
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    {% block footer_wrap -%}
                        {{ bw_debug.template(_self.templateName, 'footer_wrap') }}

                        {{ bw_debug.template(_self.templateName, 'footer_wrap', '/') }}
                    {%- endblock %}
                </div>
            </div>
        </div>
    </footer>
    {{ bw_debug.template(_self.templateName, 'footer', '/') }}
{%- endblock %}

{% block overflow -%}
    {{ bw_debug.template(_self.templateName, 'overflow') }}
    <div id="overflow">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    {% block overflow_wrap -%}
                        {{ bw_debug.template(_self.templateName, 'overflow_wrap') }}

                        {{ bw_debug.template(_self.templateName, 'overflow_wrap', '/') }}
                    {%- endblock %}
                </div>
            </div>
        </div>
    </div>
    {{ bw_debug.template(_self.templateName, 'overflow', '/') }}
{%- endblock %}
