{%- import 'BWSkeletonBundle:Macro:debug.html.twig' as bw_debug -%}
{%- import 'BWSkeletonBundle:Macro:controls.html.twig' as bw_controls -%}

{{ bw_debug.template(_self.templateName) }}

<div class="bw_position {{ position.alias }}">
    {% for widget in widgets %}
        <div class="widget {{ is_granted('ROLE_ADMIN') ? 'editable ' : '' }}{{ widget.class ? widget.class ~ ' ' : '' }}">
            {{ bw_controls.show(path('widget_edit', {'id': widget.id})) }}
            {% if widget.heading %}
                <h3 class="widget_heading">{{ widget.heading }}</h3>
            {% endif %}
            <div class="widget_description">
                {{ container.get(widget.type.serviceName).render(widget)|raw }}
            </div>
        </div>
    {% endfor %}
</div>

{{ bw_debug.template(_self.templateName, null, '/') }}
