{% import 'BWSkeletonBundle:Macro:debug.html.twig' as bw_debug %}

{{ bw_debug.template(_self.templateName) }}

<div class="bw_position {{ position.alias }}">
    {% for widget in widgets %}
        <div class="widget {{ widget.class }}">
            {% if is_granted('ROLE_ADMIN') %}
                <div class="admin_control">
                    <a href="{{ path('widget_edit', {'id': widget.id}) }}"><i class="fa fa-edit"></i></a>
                </div>
            {% endif %}
            {% if widget.heading %}
                <h3 class="widget_heading">{{ widget.heading }}</h3>
            {% endif %}
            <div class="widget_description">
                {{ container.get(widget.type.serviceName).render(widget)|raw }}
            </div>
        </div>
    {% endfor %}
</div>

{{ bw_debug.template(_self.templateName, null, '/') }}
