{{ form_start(form) }}
    {{ form_errors(form) }}

    <ul class="list-inline">
        {% include 'BWSkeletonBundle:Form:control-button-list.html.twig' %}
        <li>
            <a class="btn btn-default fas fa-ban" href="{{ path('menu') }}" title="Отменить несохраненные изменения"> Закрыть</a>
        </li>
    </ul>

    <div class="form-group">{{ form_row(form.name) }}</div>
    <div class="form-group">{{ form_row(form.alias) }}</div>
    <div class="form-group">{{ form_row(form.description) }}</div>

{{ form_end(form) }}
