{% extends 'BWSkeletonBundle:Backend:layout.html.twig' %}

{% block title %}Список меню{% endblock %}

{% block content_wrap -%}
    <h1><i class="fa fa-list"></i> Список меню</h1>

    <ul class="list-inline controls">
        <li>
            <a class="btn btn-success fas fa-plus" href="{{ path('menu_new') }}">
                Создать
            </a>
        </li>
    </ul>

    {% if entities %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Назвение</th>
                    <th>Алиас</th>
                    <th>Описание</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.id }}</td>
                    <td><a href="{{ path('menu_edit', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
                    <td>{{ entity.alias }}</td>
                    <td>{{ entity.description }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="well well-sm text-center">Записи отсутствуют</div>
    {% endif %}

{% endblock %}
