{{ form_start(form) }}
    {{ form_errors(form) }}

    <ul class="list-inline">
        {% if form.create is defined %}
            <li>{{ form_row(form.create) }}</li>
        {% endif %}
        {% if form.createAndClose is defined %}
            <li>{{ form_row(form.createAndClose) }}</li>
        {% endif %}
        {% if form.createAndShow is defined %}
            <li>{{ form_row(form.createAndShow) }}</li>
        {% endif %}
        {% if form.update is defined %}
            <li>{{ form_row(form.update) }}</li>
        {% endif %}
        {% if form.updateAndClose is defined %}
            <li>{{ form_row(form.updateAndClose) }}</li>
        {% endif %}
        {% if form.updateAndShow is defined %}
            <li>{{ form_row(form.updateAndShow) }}</li>
        {% endif %}
        {% if form.delete is defined %}
            <li>{{ form_row(form.delete) }}</li>
        {% endif %}
        <li>
            <a class="btn btn-default fas fa-ban" href="{{ path('category') }}" title="Отменить несохраненные изменения"> Закрыть</a>
        </li>
    </ul>

    <div class="form-inline">
        <div class="form-group">{{ form_row(form.published) }}</div>&nbsp;
    </div>

    <div class="form-group">{{ form_row(form.parent) }}</div>
    <div class="form-group">{{ form_row(form.heading) }}</div>
    <div class="form-group">{{ form_row(form.shortDescription) }}</div>
    <div class="form-group">{{ form_row(form.description) }}</div>
    <div class="form-group">{{ form_row(form.created) }}</div>
    <div class="form-group">{{ form_row(form.order) }}</div>

    <h2>SEO</h2>
    {% if entity.route %}
    <div class="form-group">
        Адрес страницы: <code>{{ entity.route.path }}</code>
    </div>
    {% endif %}
    <div class="form-group">
        {{ form_row(form.slug) }}
        <p class="text-muted">Используйте прямой слеш ("/") в начале синонима URL чтобы переопределить стандартное формирование.</p>
    </div>
    <div class="form-group">{{ form_row(form.title) }}</div>
    <div class="form-group">{{ form_row(form.metaDescription) }}</div>

{{ form_end(form) }}
