{% extends 'BWSkeletonBundle:Backend:layout.html.twig' %}

{% block title %}Список категорий{% endblock %}

{% block content_wrap -%}
    <h1><i class="fa fa-list-alt"></i> Список категорий</h1>

    <ul class="list-inline controls">
        <li>
            <a class="btn btn-success fas fa-plus" href="{{ path('category_new') }}">
                Создать
            </a>
        </li>
    </ul>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Заголовок</th>
                <th>Синоним URL</th>
                <th>Родительская категория</th>
                <th>Опубликовано</th>
                <th>Создано</th>
                <th>Обновлено</th>
                <th>Порядок</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.id }}</a></td>
                <td>
                    {{ '|— '|repeat(entity.level) }}
                    <a href="{{ path('category_edit', { 'id': entity.id }) }}" title="Редактировать запись">
                        {{ entity.heading }}
                    </a><br/>
                    <a href="{{ app.request.getUriForPath(entity.route.path) }}" title="Перейти по адресу">
                        <small class="fa fa-share-square-o" title="Перейти на страницу">
                            {{ entity.route.path }}
                        </small>
                    </a>
                </td>
                <td>{{ entity.slug }}</td>
                <td>
                    {% if entity.parent %}
                        <a href="{{ path('category_edit', {'id': entity.parent.id}) }}" title="Редактировать запись">
                            {{ entity.parent.heading }}
                        </a>
                    {% else %}
                        {{ '< Корневая >' }}
                    {% endif %}
                </td>
                <td><span class="{{ entity.published ? 'fa fa-check-square-o' : 'fa fa-square-o' }}"></span></td>
                <td>
                    {% if entity.created %}
                        <abbr title="{{ entity.created|date('Создано в H:i:s') }}">
                            {{ entity.created|date('d/m/Y') }}
                        </abbr>
                    {% endif %}
                </td>
                <td>
                    {% if entity.updated %}
                        <abbr title="{{ entity.updated|date('Обновлено в H:i:s') }}">
                            {{ entity.updated|date('d/m/Y') }}
                        </abbr>
                    {% endif %}
                </td>
                <td>{{ entity.order }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
