{% extends 'BWSkeletonBundle:Frontend:layout.html.twig' %}

{% block title %}{{ entity.title ? entity.title : entity.heading }}{% endblock %}

{% block description %}{{ entity.metaDescription ? entity.metaDescription }}{% endblock %}

{% block content_wrap -%}
    <div class="category">
        <h1>{{ entity.heading }}</h1>
        <div class="description">
            {{ entity.description }}
        </div>
    </div>
    {% if posts is defined %}
        <div class="posts">
            {% for post in posts %}
                <div class="post">
                    <h2>
                        <a href="{{ app.request.getUriForPath(post.route.path) }}">
                            {{ post.heading }}
                        </a>
                    </h2>
                    <div class="short_description">
                        {{ post.shortDescription|raw }}
                    </div>
                    <div class="more">
                        <a class="btn btn-primary" href="{{ app.request.getUriForPath(post.route.path) }}">
                            Подробнее
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
