{% extends "BWSkeletonBundle:Frontend:base.html.twig" %}

{% block lang %}ru{% endblock %}

{% block charset %}utf-8{% endblock %}

{% block title %}% Layout Template %{% endblock %}

{% block description %}{% endblock %}

{% block css %}
    <!-- % CSS % -->
    {# less stylesheet
    {% stylesheets filter='less' output='cache/bootstrap.css' %}
        <link href="{{ asset('libs/bootstrap-3.1.1/less/bootstrap.less') }}" type="text/css" rel="stylesheet/less">
    {% endstylesheets %}
    #}
    <link href="{{ asset('bower_components/bootstrap/dist/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ asset('bower_components/bootstrap/dist/css/bootstrap-theme.min.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ asset('bower_components/fontawesome/css/font-awesome.min.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ asset('css/style.css') }}" type="text/css" rel="stylesheet">
{% endblock %}

{% block js %}
    <!-- % JS % -->
    {# less compiler
    <script src="{{ asset('js/less-1.7.0.min.js') }}" type="text/javascript"></script>
    #}
    <script src="{{ asset('bower_components/jquery/dist/jquery.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bower_components/bootstrap/dist/js/bootstrap.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bower_components/ckeditor/ckeditor.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bower_components/ckeditor/adapters/jquery.js') }}" type="text/javascript"></script>
    <script src="{{ asset('libs/ckfinder/ckfinder.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/script.js') }}" type="text/javascript"></script>
{% endblock %}

{% block header %}
    <header id="header">
        {% block header_wrap %}
            <div class="_container">
                <div class="row">
                    <div class="col-lg-12">
                        <nav class="navbar navbar-default" role="navigation">
                            <div class="container-fluid">
                                <!-- Brand and toggle get grouped for better mobile display -->
                                <div class="navbar-header">
                                    <a class="navbar-brand" href="{{ path('admin') }}" title="Панель управления">
                                        <i class="fa fa-apple"></i> Главная
                                    </a>
                                </div>

                                <!-- Collect the nav links, forms, and other content for toggling -->
                                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                    <ul class="nav navbar-nav">
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                <i class="fa fa-sitemap"></i> Контент <span class="caret"></span>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a href="{{ path('post') }}">
                                                        <i class="fa fa-file-text-o"></i> Статьи
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="{{ path('category') }}">
                                                        <i class="fa fa-folder-open-o"></i> Категории
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                <i class="fa fa-puzzle-piece"></i> Модули <span class="caret"></span>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a href="{{ path('menu') }}">
                                                        <i class="fa fa-list"></i> Меню
                                                    </a>
                                                </li>
                                                <li class="divider"></li>
                                                <li>
                                                    <a href="{{ path('widget') }}">
                                                        <i class="fa fa-th"></i> Виджеты
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="{{ path('position') }}">
                                                        <i class="fa fa-arrows-alt"></i> Позиции
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                <i class="fa fa-users"></i> Аккаунты <span class="caret"></span>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a href="{{ path('user') }}">
                                                        <i class="fa fa-user"></i> Пользователи
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="{{ path('role') }}">
                                                        <i class="fa fa-lock"></i> Роли
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                    <ul class="nav navbar-nav navbar-right">
                                        <li>
                                            <a href="{{ path('index') }}" title="Просмотр сайта">
                                                <i class="fa fa-share-square-o"></i> Сайт
                                            </a>
                                        </li>
                                        {% if app.user %}
                                            <li>
                                                <a href="{{ path('user_sign_out') }}">
                                                    <i class="fa fa-sign-out"></i> Выход
                                                </a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </div><!-- /.navbar-collapse -->
                            </div><!-- /.container-fluid -->
                        </nav>
                    </div>
                </div>
            </div>
        {% endblock %}
    </header>
{% endblock %}

{% block pre_content %}
    <div id="pre_content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    {% block pre_content_wrap %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block flash_message %}
    {% if app.session.flashbag.all %}
        {% block flash_message_wrap %}
            <div id="flash_message">
                {% for status, flashMessages in app.session.flashbag.all %}
                    {% for flashMessage in flashMessages %}
                        <div class="alert alert-dismissable alert-{{ status }} fade in">
                            {{ flashMessage|raw }}
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        {% endblock %}
    {% endif %}
{% endblock %}

{% block content %}
    <section id="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    {% block content_wrap %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block post_content %}
    <div id="post_content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    {% block post_content_wrap %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    {% block footer_wrap %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </footer>
{% endblock %}

{% block overflow %}
    <div id="overflow">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    {% block overflow_wrap %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}