{%- import 'BWSkeletonBundle:Macro:debug.html.twig' as bw_debug -%}

{{ bw_debug.template(_self.templateName) }}

<ul class="menu nav nav-pills">
    {% for item in items %}
        <li>
            <a href="{{ item.uriForRequest(app.request) }}"
               class="{{ item.class }}"
               title="{{ item.title }}"
            >{{ item.name }}</a>
        </li>
    {% endfor %}
</ul>

{{ bw_debug.template(_self.templateName, null, '/') }}
