{% extends 'BWSkeletonBundle:Backend:layout.html.twig' %}

{% block content_wrap -%}
    <h1>Список статей</h1>

    <ul class="list-inline controls">
        <li>
            <a class="btn btn-success" href="{{ path('post_new') }}">
                Создать
            </a>
        </li>
    </ul>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Заголовок</th>
                <th>Слаг</th>
                <th>Опубликовано</th>
                <th>Главная</th>
                <th>Создано</th>
                <th>Обновлено</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.id }}</td>
                <td>
                    <a title="Изменить запись" href="{{ path('post_edit', { 'id': entity.id }) }}">
                        {{ entity.heading ? entity.heading : '< no heading >' }}
                    </a>
                </td>
                <td>{{ entity.slug }}</td>
                <td>{{ entity.published ? 'yes' : 'no' }}</td>
                <td>{{ entity.home ? 'yes' : 'no' }}</td>
                <td>
                    {% if entity.created %}
                        <abbr title="{{ entity.created|date('d/m/Y в H:i') }}">
                            {{ entity.created|date('d/m/Y') }}
                        </abbr>
                    {% endif %}
                </td>
                <td>
                    {% if entity.updated %}
                        <abbr title="{{ entity.updated|date('d/m/Y в H:i') }}">
                            {{ entity.updated|date('d/m/Y') }}
                        </abbr>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
