{% extends 'BWSkeletonBundle:Backend:layout.html.twig' %}

{% block title %}Список статей{% endblock %}

{% block content_wrap -%}
    <h1><i class="fa fa-file-text-o"></i> Список статей</h1>

    <ul class="list-inline controls">
        <li>
            <a class="btn btn-success fas fa-plus" href="{{ path('post_new') }}">
                Создать
            </a>
        </li>
    </ul>

    {% if pagination.count %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="{{ pagination.isSorted('p.id') ? 'active' }}">{{ knp_pagination_sortable(pagination, 'ID', 'p.id') }}</th>
                    <th class="{{ pagination.isSorted('p.heading') ? 'active' }}">{{ knp_pagination_sortable(pagination, 'Заголовок', 'p.heading') }}</th>
                    <th>Синоним URL</th>
                    <th>Категория</th>
                    <th>Опубликовано</th>
                    <th>Главная</th>
                    <th class="{{ pagination.isSorted('p.created') ? 'active' }}">{{ knp_pagination_sortable(pagination, 'Создано', 'p.created') }}</th>
                    <th class="{{ pagination.isSorted('p.updated') ? 'active' }}">{{ knp_pagination_sortable(pagination, 'Обновлено', 'p.updated') }}</th>
                    <th>Порядок</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in pagination %}
                <tr>
                    <td class="{{ pagination.isSorted('p.id') ? 'active' }}">{{ entity.id }}</td>
                    <td class="{{ pagination.isSorted('p.heading') ? 'active' }}">
                        <a href="{{ path('post_edit', { 'id': entity.id }) }}" title="Редактировать запись">
                            {{ entity.heading ? entity.heading : '< no heading >' }}
                        </a><br/>
                        <a href="{{ app.request.getUriForPath(entity.route.path) }}" title="Перейти по адресу">
                            <small class="fa fa-share-square-o">
                                {{ entity.route.path }}
                            </small>
                        </a>
                    </td>
                    <td>{{ entity.slug }}</td>
                    <td>
                        {% if entity.category %}
                            <a href="{{ path('category_edit', {'id': entity.category.id}) }}" title="Редактировать запись">
                                {{ entity.category.heading }}
                            </a>
                        {% else %}
                            {{ '< Без категории >' }}
                        {% endif %}
                    </td>
                    <td><span class="{{ entity.published ? 'fa fa-check-square-o' : 'fa fa-square-o' }}"></span></td>
                    <td><span class="{{ '/' ~ home_page_path == entity.route.path ? 'fa fa-check-square-o' : 'fa fa-square-o' }}"></span></td>
                    <td class="{{ pagination.isSorted('p.created') ? 'active' }}">
                        {% if entity.created %}
                            <abbr title="{{ entity.created|date('Создано в H:i:s') }}">
                                {{ entity.created|date('d/m/Y') }}
                            </abbr>
                        {% endif %}
                    </td>
                    <td class="{{ pagination.isSorted('p.updated') ? 'active' }}">
                        {% if entity.updated %}
                            <abbr title="{{ entity.updated|date('Обновлено в H:i:s') }}">
                                {{ entity.updated|date('d/m/Y') }}
                            </abbr>
                        {% endif %}
                    </td>
                    <td>{{ entity.order }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="well well-sm text-center">Записи отсутствуют</div>
    {% endif %}

    <div class="count">
        Всего: <strong>{{ pagination.getTotalItemCount }}</strong> записей
    </div>

    <div class="navigation text-center">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
