{% extends 'BWSkeletonBundle:Backend:layout.html.twig' %}

{% block content_wrap -%}
    <h1>Post list</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Heading</th>
                <th>Slug</th>
                <th>Published</th>
                <th>Created</th>
                <th>Updated</th>
                <th>Home</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('post_edit', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td><a href="{{ path('post_edit', { 'id': entity.id }) }}">{{ entity.heading }}</a></td>
                <td>{{ entity.slug }}</td>
                <td>{{ entity.published ? 'yes' : 'no' }}</td>
                <td>{{ entity.home ? 'yes' : 'no' }}</td>
                <td>{% if entity.created %}{{ entity.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.updated %}{{ entity.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('post_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
{% endblock %}
