{% extends 'BWSkeletonBundle:Frontend:layout.html.twig' %}

{% block title_wrap -%}{{ entity.title ? entity.title : entity.heading }}{%- endblock %}

{% block description -%}{{ entity.metaDescription ? entity.metaDescription }}{%- endblock %}

{% block content_wrap -%}
    {{ bw_debug.template(_self.templateName, 'content_wrap') }}

    <div class="{{ is_granted('ROLE_ADMIN') ? 'editable ' : '' }}{{ entity.class ? entity.class ~ ' ' : '' }}">
        {{ bw_controls.show(path('post_edit', {'id': entity.id})) }}
        <div class="post">
            {% if entity.heading %}
                <h1>{{ entity.heading }}</h1>
            {% endif %}
            <div class="description">
                {{ entity.description|raw }}
            </div>
        </div>
    </div>

    {{ bw_debug.template(_self.templateName, 'content_wrap', '/') }}
{% endblock %}
