{{ form_start(form) }}
    {{ form_errors(form) }}

    <ul class="list-inline">
        {% if form.create is defined %}
            <li>{{ form_row(form.create) }}</li>
        {% endif %}
        {% if form.createAndClose is defined %}
            <li>{{ form_row(form.createAndClose) }}</li>
        {% endif %}
        {% if form.createAndShow is defined %}
            <li>{{ form_row(form.createAndShow) }}</li>
        {% endif %}
        {% if form.update is defined %}
            <li>{{ form_row(form.update) }}</li>
        {% endif %}
        {% if form.updateAndClose is defined %}
            <li>{{ form_row(form.updateAndClose) }}</li>
        {% endif %}
        {% if form.updateAndShow is defined %}
            <li>{{ form_row(form.updateAndShow) }}</li>
        {% endif %}
        {% if form.delete is defined %}
            <li>{{ form_row(form.delete) }}</li>
        {% endif %}
        <li>
            <a class="btn btn-default fas fa-ban" href="{{ path('user') }}" title="Отменить несохраненные изменения"> Закрыть</a>
        </li>
    </ul>

    <div class="form-inline">
        <div class="form-group">{{ form_row(form.enabled) }}</div>&nbsp;
        <div class="form-group">{{ form_row(form.confirmed) }}</div>&nbsp;
    </div>

    <div class="form-group">{{ form_row(form.username) }}</div>
    <div class="form-group">{{ form_row(form.password) }}</div>
    <div class="form-group">{{ form_row(form.email) }}</div>
    <div class="form-group">{{ form_row(form.roles) }}</div>
    <div class="form-group">{{ form_row(form.created) }}</div>

    <h2><i class="fa fa-share-alt"></i> Социальные сети</h2>
    <div class="form-group">{{ form_row(form.facebookId) }}</div>
    <div class="form-group">{{ form_row(form.googleId) }}</div>
    <div class="form-group">{{ form_row(form.vkId) }}</div>

{{ form_end(form) }}
