<ul class="breadcrumb">
    {% for crumb in breadcrumb %}
        {% if (loop.first and not breadcrumb.showFirst) or (loop.last and not breadcrumb.showLast) -%}
        {%- else %}
            {% if breadcrumb.showSeparator and ((breadcrumb.showFirst and loop.index != 1) or (not breadcrumb.showFirst and loop.index != 2)) %}
                <li class="separator">
                    <span>{{ breadcrumb.separatorCharacter }}</span>
                </li>
            {% endif %}
            <li class="crumb" data-crumb="{{ loop.index }}">
                {% if not breadcrumb.navigation or not crumb.uri or (loop.last and not breadcrumb.lastAsLink) %}
                    <span>{{ crumb.name }}</span>
                {% else %}
                    <a href="{{ crumb.uri }}">{{ crumb.name }}</a>
                {% endif %}
            </li>
        {% endif %}
    {% endfor %}
</ul>
