<div class="form-group">{{ form_row(form.redirectUrl) }}</div>
<div class="form-group">{{ form_row(form.emailTo) }}</div>
<div class="form-group">{{ form_row(form.messageSubject) }}</div>
<div class="form-group">{{ form_row(form.messageBody) }}</div>
<ul class="text-muted">
    <li><a href="http://symfony.com/doc/current/book/forms.html#built-in-field-types" target="_blank">Ссылка</a> на документацию по встроенным типам для полей формы.</li>
</ul>
<div class="form-group">{{ form_row(form.fields) }}</div>
